.separator-story {
	border-top: 2px solid rgba(200,200,200,0.5);
	border-bottom: 2px solid rgba(200,200,200,0.5);
	margin-top: 30px;
	background-color: rgba(34,65,96,0.1);
}

.student-comment {
	background-size: 100%;
}

.one-third-comment {
	float: left;
	margin-right: 1%;
	background-color: rgba(0,0,0,0.0);
	height: ;200px;
	border-radius: 2px;
	padding: 10px 0;
	position: relative;
}

.one-third-comment:first-child {
	width: 50%;
}

.one-third-comment:nth-child(2) {
	width: 10%;
}

.one-third-comment:last-child {
	width: 35%;
}

/********************************/

.testimonials {
	background-color: ;red;
}

.testimonials .section-inner {
	background-color: ;green;
	min-height: 100px;
	position: relative;
}

.testimonials .section-inner .student-circle {
	position: absolute;
	width: 100px;
	height: 100px;
	background-size: 100%;
	border-radius: 150px;
}

.testimonials .section-inner .left {
	left: 80px;
}

.testimonials .section-inner .right {
	top: 0px;
	right: 80px;
}


.testimonials .section-inner .nav-left {
	color: rgba(122,2,33,0.8);rgba(34,65,96,0.8);
	position: absolute;
	text-align: center;
	line-height: 100px;
	top: 0px;
	left: 0px;
}

.testimonials .section-inner .nav-right {
	color: rgba(122,2,33,0.8);rgba(34,65,96,0.8);
	position: absolute;
	text-align: center;
	line-height: 100px;
	top: 0px;
	right: 0px;
}

.alex {
	background-image: url("https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc3/t1/1545199_674262095929779_627794241_n.jpg");
}

.victor {
	background-image: url("https://scontent-a.xx.fbcdn.net/hphotos-ash2/t1/383911_10150469808056655_2001343823_n.jpg");
}

.student-info {
	margin-top: 20px;
	font-size: 15 !important;
	opacity: 0.8;
}

.circle  {
	width: 100px;
	height: 100px;
	background-color: black;grey;
	border-radius: 150px;
	border: 1px solid grey;
	margin: auto !important;
	background-image: ;url("../images/rose.jpeg");
	background-size: 100%;
}

.testimonials .section-inner .comment {
	padding: 0px 200px;
	font-size: 24px;
	color: rgba(30,30,30,1);
	font-family: "SourceSansPro-Regular"; "Raleway-Regular"; "SourceSansPro-Light" 
}